@page "/"
@namespace BlazapyBird.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazapyBird</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script>
        window.SetFocusToElement = (element) => {
            console.log("xxx");
            element.focus();
        };
    </script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
